<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Breed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

<h1 align="center"> Dog classification app </h1>

 <div class="row">
  <div class="column">
    <img src="static/images/Alaskan.jpg"  alt="Alaskan" width="10%">
  </div>
  <div class="column">
    <img src="static/images/Bulldog.jpg" alt="Bulldog" width="10%">
  </div>
  <div class="column">
    <img src="static/images/Afghan_Hound.jpg"  alt="Afghan" width="10%">
  </div>
</div>

<div class="row">
  <div class="col-md-4">.col-md-4</div>
     <img src="static/images/Alaskan.jpg"  alt="Alaskan" width="30%">
  <div class="col-md-4">.col-md-4</div>
    <img src="static/images/Bulldog.jpg" alt="Bulldog" width="30%">
  <div class="col-md-4">.col-md-4</div>
     <img src="static/images/Afghan_Hound.jpg"  alt="Afghan" width="30%">
</div>


<br>
<br>
<div>
Please enter the path to an image file:
</div>

<form method=post enctype=multipart/form-data action="/result">
      <p><input type=file name=photo>
         <input type=submit value=Upload>
</form>



</body>
</html>

